<h2 id="title">Simple usage</h2>
{{yasgui-integration}}


<h2>Extended usage</h2>
{{#yasgui-integration as |yasgui|}}
  {{input type='text' value=endpoint}}
  {{yasgui.editor endpoint=endpoint}}
  {{yasgui.results}}
{{/yasgui-integration}}
